@page "{id?}"
@model Golden_CRM.Pages.Leads.CustomerModel
@using Golden_CRM.Models.Interfaces
@inject ICustomer  CustomerManager

@{
    Layout = "_Layout";
}
@{
    var users = await CustomerManager.GetUsers();
}

<h1> Individual Customer Page</h1>

<div>
    <div id="form-contain">
        <form method="post" enctype="multipart/form-data" id="form">
            <div>
                <label asp-for="Customer.FirstName"></label>
                <input asp-for="Customer.FirstName" id="input" placeholder="First Name" />
            </div>
            <div>
                <label asp-for="Customer.LastName"></label>
                <input asp-for="Customer.LastName" id="input" placeholder="Last Name" />
            </div>
            <div>
                <label asp-for="Customer.Email"></label>
                <input asp-for="Customer.Email" id="input" placeholder="Email" />
            </div>
            <div>
                <label asp-for="Customer.PhoneNumber"></label>
                <input asp-for="Customer.PhoneNumber" id="input" placeholder="Phone Number" />
            </div>
            <div>
                <label asp-for="Customer.AssignedOwner"></label>
                <select asp-for="Customer.AssignedOwner">
                    <option value="Unassigned">Unassigned</option>
                    @foreach (var item in users)
                    {
                        <option value="@item">@item</option>

                    }
                </select>
                <span asp-validation-for="Customer.AssignedOwner" class="text-danger"></span>

            </div>
            <label asp-for="Customer.Priority" class="control-label"></label>
            <select asp-for="Customer.Priority" class="form-control" asp-items="@Html.GetEnumSelectList<Golden_CRM.Models.Priorities>()"></select>
            <span asp-validation-for="Customer.Priority" class="text-danger"></span>
            <div id="but-contain">
                <button type="submit" value="Save" id="button">Save</button>
            </div>
            <div id="but-contain">
                <button type="submit" asp-page-handler="Delete" id="button">Delete</button>
            </div>
        </form>

        <div id="component">
            @await Component.InvokeAsync("AddNote", Model.ID)

            @await Component.InvokeAsync("Notes", Model.ID)

            @await Component.InvokeAsync("ToDos", Model.ID)

            @await Component.InvokeAsync("AddToDo", Model.ID)

        </div>
    </div>
</div>