@using Microsoft.AspNetCore.Identity
@using Golden_CRM.Models
@inject SignInManager<ApplicationUser> signInManager
@inject UserManager<ApplicationUser> userManager



<div id="headcontain">
    <div id="head-but-contain">
        @if (signInManager.IsSignedIn(User))
        {
            <a id="button-new">Hello, @User.Claims.First(c => c.Type == "Name").Value</a>
        }
        else
        {
            <a asp-controller="Account" id="button-new" asp-action="Login"><i class="fas fa-sign-in-alt"></i>Log In</a>

        }
        @if (signInManager.IsSignedIn(User))
        {
            {
                var email = @User.Claims.First(c => c.Type == "Email").Value;

                <a href='/Profile/UserProfile/@email' id="button-new">User Profile</a>
            }

        }
        @if (!signInManager.IsSignedIn(User))
        {
            <a asp-controller="Account" id="button-new" asp-action="Register">Register</a>

        }
        else
        {
            <a asp-controller="Account" id="button-new" asp-action="Logout"><i class="fas fa-sign-out-alt">Log Out</i></a>
        }
        @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
        {
            <a asp-page="/Admin/Dashboard" id="button-new">Admin Dashboard</a>

        }
        <a asp-controller="Cart" id="button-new" asp-action="Index" asp-route-userID="@User.Identity.Name"><i class="fas fa-shopping-cart"></i>Cart</a>
        <a asp-page="/Customers/Customer" asp-route-id="null" id="button-new"><i class="far fa-plus-square"></i></a>

        <a asp-page="/Index" asp-route-id="null" id="button-new"><i class="fas fa-home"></i></a>
        <a asp-controller="Customers" asp-action="Index">Customer Home Page</a>
    </div>
    <nav id="hamburger" role="navigation">
        <div id="navToggle">
            <input type="checkbox" />
            <span></span>
            <span></span>
            <span></span>
            <ul id="nav">
                <li><a id="links" href='/'> Home </a></li>
                <li><a id="links" href='/Pages/Customers/Customer'> New Customer </a></li>
                @if (!signInManager.IsSignedIn(User))
                {
                    <li><a id="links" href='/Account/Register'> Register </a></li>
                }
                else
                {
                    <li><a asp-controller="Account" id="button-new" asp-action="Logout"><i class="fas fa-sign-out-alt">Log Out</i></a></li>
                }
                @if (signInManager.IsSignedIn(User))
                {
                    <li>
                        Hello, @User.Claims.First(c => c.Type == "Name").Value
                    </li>
                }
                else
                {
                    <li><a id="links" href='/Account/Login'> Login </a></li>
                }
            </ul>
        </div>
    </nav>
    <div id="indexcontain">
        <img src="~/assets/Logo.png" alt="Pogs R Us Logo" class="head-logo" />

    </div>
</div>
