@using Microsoft.AspNetCore.Identity
@using Golden_CRM.Models
@using Golden_CRM.Models.Interfaces
@inject SignInManager<ApplicationUser> signInManager
@inject UserManager<ApplicationUser> userManager
@inject ICustomer CustomerManager

@{

    var recent = await CustomerManager.RecentCustomers(User.Identity.Name);
}
<h1>Recent customers</h1>
@{
    @foreach (var item in recent)
    {
        <a asp-page="/Customers/Customer" asp-route-id="@item.ID" id="button-new">@item.FirstName @item.LastName</a>
    }
}