@page
@*@model Golden_CRM.Pages.Components.Notes.NotesModel*@
@model List<Golden_CRM.Models.Note>
@{
    ViewData["Title"] = "Notes";
}

    @*<div class="note-component">
        <h1>Notes</h1>
        @if (Model != null)
        {
        @foreach (var note in Model)
        {
        <div class="note-item">
            <h3>@note.Comment</h3>
        </div>
        }
        else
        {
        }

    </div>*@
