<h2>Search</h2>
<div>
    <div id="form-contain">
        <form asp-controller="Search" asp-action="SearchResults">
            <input type="text" name="query" value="Search for Customer" />
            <div id="button-contain">
                <button type="submit" value="Save" id="button">Search</button>
            </div>
        </form>
    </div>
</div>
