@using Golden_CRM.Models
@model Golden_CRM.Models.Components.Search
<h2>Search</h2>
<div>
    <div id="form-contain">
        <form asp-controller="Search" asp-action="SearchAsync">
            <input type="text" value="query" />
            @*<label asp-for="Customer.Email"></label>
            <input asp-for="Customer.Email" id="input" />*@
            <div id="button-contain">
                <button type="submit" value="Save" id="button">Search</button>
            </div>
        </form>
    </div>
</div>
