
@model List<Golden_CRM.Models.Note>
<div class="note-component">
    <h1>Notes</h1>

    @if (Model != null)
        {
    @foreach (var note in Model)
        {
    <div class="note-item">
        <h3>@note.Comment</h3>
    </div>
        }
      }
        else
        {

    <h3>No comments</h3>
        }

</div>