@using Golden_CRM.Models
@model IEnumerable<Golden_CRM.Models.ToDo>

@{
    ViewData["Title"] = "Customers";
    Layout = "_Layout";
}

<div class="cust-index-contain">
    @foreach (var item in Model)
    {
        <div class="ind-cust-contain">
            <p>@item.CustomerName</p>
            <p>@item.DueDate</p>
            <a asp-page="/Customers/Customer" asp-route-id="@item.ID" id="button-new">Details</a>
        </div>
    }

</div>
