@page "{id?}"
@{ 
    Layout = "_Layout";
}

<h1> Individual Lead Page</h1>

<div>
    <div id="form-contain">
        <form method="post" enctype="multipart/form-data" id="form">
            <div>
                <label asp-for="Lead.Name"></label>
                <input asp-for="Lead.Name" id="input" />
            </div>
            <div id="button-contain">
                <button type="submit" asp-page-handler="Edit" id="button">Edit</button>
            </div>
        </form>
    </div>
</div>
